:root,
::backdrop {
  --font-p: 1em/1.7 'Open Sans', 'DejaVu Sans', FreeSans, Helvetica, sans-serif;
  --font-h: .9em/1.5 'Open Sans', 'DejaVu Sans', FreeSans, Helvetica, sans-serif;
  --font-c: .9em/1.4 'DejaVu Sans Mono', monospace;

  --text: #433;
  --background: #fff;
  --accent-bg: #f5f7ff;
  --text-dark: #888;
  --text-light: #f5f6f7;
  --border: #d1d1d1;
  --accent: #0077CC;
  --accent-hover: #1f5982;
  --underline: #dcd4d4;
  --code: #d81b60;

  /* syntax highlight */
  --comments: #7c7f93;
  --punctuation: #303446;
  --tags: #d20f39;
  --numbers: #8839ef;
  --selector: #40a02b;
  --variable: #303446;
  --class-name: #df8e1d;
  --keyword: #04a5e5;
  --important: #fe640b;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {

  :root,
  ::backdrop {
    --text: #dcdcdc;
    --background: #212121;
    --accent-bg: #2b2b2b;
    --text-dark: #888;
    --text-light: #ababab;
    --border: #898EA4;
    --accent: #229ff9;
    --accent-hover: #0788e4;
    --underline: #606060;
    --code: #f06292;

    /* syntax highlight */
    --comments: #939ab7;
    --punctuation: #eff1f5;
    --tags: #e78284;
    --numbers: #ca9ee6;
    --selector: #a6d189;
    --variable: #eff1f5;
    --class-name: #e5c890;
    --keyword: #99d1db;
    --important: #ef9f76;
  }
}

/* Reset –––––––––––––––––––––––––––––––––––––––––––– */

/* reset block elements  */
*,
*::before,
*::after {
  box-sizing: border-box;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

header,
footer,
figure,
table,
video,
details,
blockquote,
ul,
ol,
dl,
fieldset,
pre,
pre>code,
caption {
  display: block;
  margin: 0.5rem 0rem 1rem;
  width: 100%;
  overflow: auto hidden;
  text-align: left;
}

video,
summary,
input,
select {
  outline: none;
}

/* reset clickable things  (FF Bug: select:hover prevents usage) */
a,
button,
select,
summary {
  color: var(--accent);
  cursor: pointer;
}

/* Base Style ––––––––––––––––––––––––––––––––––––––– */
html {
  font-size: 1.1rem;
  background: var(--background);
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr min(40rem, 90%) 1fr;
  grid-template-rows: auto 1fr auto;
  font: var(--font-p);
  color: var(--text);
  min-height: 100vh;
}

body>* {
  grid-column: 2;
}

body>header {
  border-bottom: 1px solid var(--border);
  text-align: center;
  padding: 1rem 1rem;
}

body>header h1 {
  max-width: 1200px;
  margin: 1rem auto;
}

body>header p {
  max-width: 40rem;
  margin: 1rem auto;
}

/* Add a little padding to ensure spacing is correct between content and header > nav */
main {
  padding-top: 2rem;
}

body>footer {
  margin-top: 4rem;
  padding: 2rem 1rem 6rem 1rem;
  font-size: 90%;
  text-align: center;
  border-top: 1px solid var(--border);
}

p {
  margin: .6em 0;
}

/* links */
a[href] {
  text-decoration: underline solid var(--underline);
  text-underline-position: under;
}

a[href^="#"] {
  text-decoration: none;
}

a:hover,
button:not([disabled]):hover,
summary:hover {
  filter: brightness(92%);
  color: var(--accent-hover);
  border-color: var(--accent-hover);
  text-decoration: none;
}

a:hover:has(img) {
  filter: none;
}

/* lists */
ul,
ol,
dl {
  margin: 1rem 0;
  padding: 0 0 0 2em;
}

li:not(:last-child),
dd:not(:last-child) {
  margin-bottom: 0.5rem;
}

dt {
  font-weight: bold;
}

/* headings */
h1,
h2,
h3,
h4,
h5 {
  margin: 1.5em 0 .5rem;
  font: var(--font-h);
  line-height: 1.2em;
  clear: both;
}

h1+h2,
h2+h3,
h3+h4,
h4+h5 {
  margin-top: .5em;
  padding-top: 0;
}

/* non-clashing headings */

h1 {
  font-size: 3em;
  font-weight: 300;
}

h2 {
  font-size: 2.0em;
  font-weight: 300;
  font-variant: small-caps;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

h4 {
  font-size: 1.1em;
  font-weight: 700;
}

h5 {
  font-size:
    1.2em;
  font-weight: 400;
  color: var(--text);
}

h6 {
  font-size: 1.0em;
  font-weight: 700;
  font-style: italic;
}

/* tables */
td,
th {
  padding: 0.5em 0.8em;
  text-align: right;
  border-bottom: 0.1rem solid var(--border);
  white-space: nowrap;
  font-size: 95%;
}

thead th[colspan] {
  padding: .2em 0.8em;
  text-align: center;
}

thead tr:not(:only-child) td {
  padding: .2em 0.8em;
}

thead+tbody tr:first-child td {
  border-top: 0.1rem solid var(--text-dark);
}

th {
  background-color: var(--accent-bg);
}

td:first-child,
th:first-child {
  text-align: left;
}

tr:hover {
  background-color: var(--accent-bg);
}

table img {
  display: block;
}

/* figures */
img,
svg {
  max-width: 100%;
  vertical-align: text-top;
  object-fit: cover;
}

p>img:not(:only-child) {
  float: right;
  margin: 0 0 .5em .5em;
}

figure>img {
  display: inline-block;
  width: auto;
}

figure>img:only-of-type,
figure>svg:only-of-type {
  max-width: 100%;
  display: block;
  margin: 0 auto 0.4em;
}

figcaption,
caption {
  font: var(--font-h);
  color: var(--text-dark);
  width: 100%;
}

figcaption>*:first-child,
caption>*:first-child {
  display: inline-block;
  margin: 0;
}

figure>*:not(:last-child) {
  margin-bottom: 0.4rem;
}

/* code */
pre>code {
  margin: 0;
  position: relative;
  padding: 0.8em;
  border-left: .4rem solid var(--accent);
}

code,
kbd,
samp {
  padding: 0.4em;
  font: var(--font-c);
  background: var(--accent-bg);
  color: var(--code);
  border-radius: 4px;
}

kbd {
  border: 1px solid var(--border);
}

/* misc */
blockquote {
  border-left: 0.4rem solid var(--border);
  padding: 0 0 0 1rem;
}

time {
  color: var(--text-dark);
}

hr {
  border: 0;
  border-top: 0.1rem solid var(--border);
}

nav {
  width: 100%;
  background-color: var(--text-light);
}

::selection,
mark {
  background: var(--accent);
  color: var(--background);
}

/* syntax highlight */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--comments);
}

.token.punctuation {
  color: var(--punctuation);
}

.token.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--tags);
}

.token.boolean,
.token.number {
  color: var(--numbers);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--selector);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: var(--variable);
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: var(--class-name);
}

.token.keyword {
  color: var(--keyword);
}

.token.regex,
.token.important {
  color: var(--important);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
